<h2 mat-dialog-title>{{isAdd ? 'Add' : 'Edit'}} book</h2>

<mat-dialog-content>
  <mat-form-field>
    <input matInput placeholder="Title" [(ngModel)]="book.title">
  </mat-form-field>
  <mat-error *ngIf="errors.title">{{errors.title.message}}</mat-error>
  <br/>
  <mat-form-field>
    <textarea matInput placeholder="Description" [(ngModel)]="book.description"></textarea>
  </mat-form-field>
  <mat-error *ngIf="errors.description">{{errors.description.message}}</mat-error>
  <br/>
  <mat-form-field>
    <mat-select placeholder="Author" [(ngModel)]="book.author">
      <mat-option *ngFor="let author of authors" [value]="author._id">
        {{author.lastName + ', ' + author.firstName}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-error *ngIf="errors.author">{{errors.author.message}}</mat-error>
  <br/>
  <mat-form-field>
    <mat-select placeholder="Category" [(ngModel)]="book.category">
      <mat-option *ngFor="let category of categories" [value]="category._id">
        {{category.code}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-error *ngIf="errors.category">{{errors.category.message}}</mat-error>
</mat-dialog-content>

<mat-dialog-actions>
  <button class="mat-raised-button" (click)="closeDialog()">Close</button>
  <button class="mat-raised-button mat-primary" (click)="saveDialog()">Save</button>
</mat-dialog-actions>
