<mat-card>

  <mat-toolbar>
    <h3>Books list</h3>
    <span class="toolbar-spacer"></span>
    <button mat-raised-button color="primary" (click)="openNewDialog()">New</button>
  </mat-toolbar>

  <mat-card-content>

    <mat-table [dataSource]="dataSource">

      <ng-container matColumnDef="title">
        <mat-header-cell *matHeaderCellDef>Title</mat-header-cell>
        <mat-cell *matCellDef="let book">{{ book.title }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="description">
        <mat-header-cell *matHeaderCellDef>Description</mat-header-cell>
        <mat-cell *matCellDef="let book">{{ book.description }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="author">
        <mat-header-cell *matHeaderCellDef>Author</mat-header-cell>
        <mat-cell *matCellDef="let book">{{ book.author.firstName + ' ' +  book.author.lastName}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="category">
        <mat-header-cell *matHeaderCellDef>Category</mat-header-cell>
        <mat-cell *matCellDef="let book">{{ book.category.code}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="options">
        <mat-header-cell *matHeaderCellDef>Options</mat-header-cell>
        <mat-cell *matCellDef="let book">
          <div class="button-row">
            <button
              [class.mat-elevation-z8]="true"
              mat-raised-button
              (click)="openEditDialog(book._id)">
              Edit
            </button>
            <button
              [class.mat-elevation-z8]="true"
              mat-raised-button
              color="warn"
              (click)="openDeleteDialog(book._id)">
              Delete
            </button>
          </div>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

    </mat-table>

  </mat-card-content>
</mat-card>
