<mat-card>

  <mat-toolbar>
    <h4>Books list</h4>
    <span class="toolbar-spacer"></span>
    <button mat-raised-button color="primary" (click)="openNewDialog()">New</button>
  </mat-toolbar>

  <mat-form-field>
    <mat-select placeholder="Filter by author" [(ngModel)]="filter.author" (selectionChange)="handleSelectionChange($event)">
      <mat-option>None</mat-option>
      <mat-option *ngFor="let author of authors" [value]="author._id">
        {{author.lastName + ', ' + author.firstName}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-select placeholder="Filter by category" [(ngModel)]="filter.category" (selectionChange)="handleSelectionChange($event)">
      <mat-option>None</mat-option>
      <mat-option *ngFor="let category of categories" [value]="category._id">
        {{category.code}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-card-content>

    <mat-table [dataSource]="dataSource">

      <ng-container matColumnDef="title">
        <mat-header-cell *matHeaderCellDef>Title</mat-header-cell>
        <mat-cell *matCellDef="let book">{{ book.title }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="description">
        <mat-header-cell *matHeaderCellDef>Description</mat-header-cell>
        <mat-cell *matCellDef="let book">{{ book.description }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="author">
        <mat-header-cell *matHeaderCellDef>Author</mat-header-cell>
        <mat-cell *matCellDef="let book">{{ book.author.lastName + ', ' + book.author.firstName}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="category">
        <mat-header-cell *matHeaderCellDef>Category</mat-header-cell>
        <mat-cell *matCellDef="let book">{{ book.category.code}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="options">
        <mat-header-cell *matHeaderCellDef>Options</mat-header-cell>
        <mat-cell *matCellDef="let book">
          <div class="button-row">
            <button
              [class.mat-elevation-z8]="true"
              mat-raised-button
              (click)="openEditDialog(book._id)">
              Edit
            </button>
            <button
              [class.mat-elevation-z8]="true"
              mat-raised-button
              color="warn"
              (click)="openDeleteDialog(book._id)">
              Delete
            </button>
          </div>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

    </mat-table>

  </mat-card-content>
</mat-card>
