<div>
  <span class="ui header">
    Books add
  </span>
  <button class="ui green button right floated" (click)="save()">
    <i class="icon check"></i>
    Accept
  </button>
  <button class="ui red button right floated" routerLink="/book">
    <i class="icon remove"></i>
    Cancel
  </button>
</div>
<form class="ui form">
  <div class="field">
    <label>Name</label>
    <input type="text" name="name" [(ngModel)]="book.name">
  </div>
  <div class="field">
    <label>Author</label>
    <select name="gender" class="ui dropdown" [(ngModel)]="book.author">
      <option *ngFor="let author of authors" value="{{author._id}}">{{author.name}}</option>
    </select>
  </div>
  <div class="field">
    <label>Category</label>
    <select name="gender" class="ui dropdown" [(ngModel)]="book.category">>
      <option *ngFor="let category of categories" value="{{category._id}}">{{category.name}}</option>
    </select>
  </div>
</form>
