.example-header {
  min-height: 64px;
  padding: 8px 24px 0;
}

.example-header .mat-form-field {
  width: 100%;
}

form {
  padding: 20px 20px 20px 50px;
  display: flex;
  flex-direction: column;
  min-width: 250px;
}

form button {
  margin-top: 20px;
}

.mat-form-field {
  font-size: 14px;
  width: auto;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}

.mat-column-select {
  overflow: initial;
}
